body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* transform: scale(0.5); */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#graphic {
  width: 100%;
  max-width: 90vw;
  height: auto;
}